.acoes {
    display: flex;
    justify-content: flex-end
  }
  
  .botao-excluir {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
  }
  
  .botao-editar {
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }

  .botao-material {
    border: none;
    cursor: pointer;
    padding-right: 20px;
    background-color: #F8F9FE;
  }
  
  .aula {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F8F9FE;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 7px;
  }
  
.link{
  margin: 1rem auto;
  font-size: 16px;
  text-decoration: none;
  color:#c43434;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: center;
}

.nome{
  padding-top: 10px;
}

.nomeAula{
  text-transform: uppercase;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
}

.link:hover{
    color: #d08181
}
  

  @media screen and (max-width: 768px) {
    .aula-g {
      width: 100%;
    }
  }
  @media screen and (max-width: 426px) {
    .aula-p {
      width: 100%;
    }
  }

  p{
    text-transform: uppercase;
  }