 <div class="links">
     <div class="nome">
        <span *ngIf="aula.link.length > 0, else semVideo">
            <span class="nomeAula ff-inter">{{aula.aula}} </span>
            <span *ngIf="aula.link[0].length > 0"><a class="link ff-inter" href={{aula.link[0]}}>Parte 1</a></span>
            <span *ngIf="aula.link[1].length > 0"> | <a class="link ff-inter" href={{aula.link[1]}}>Parte 2</a></span>
            <span *ngIf="aula.link[2].length > 0"> | <a class="link ff-inter" href={{aula.link[2]}}>Parte 3</a></span>
            <span *ngIf="aula.link[3].length > 0"> | <a class="link ff-inter" href={{aula.link[3]}}>Parte 4</a></span>
            <span *ngIf="aula.link[4].length > 0"> | <a class="link ff-inter" href={{aula.link[4]}}>Parte 5</a></span>
            <span *ngIf="aula.link[5].length > 0"> | <a class="link ff-inter" href={{aula.link[5]}}>Parte 6</a></span>
            <span *ngIf="aula.link[6].length > 0"> | <a class="link ff-inter" href={{aula.link[6]}}>Parte 7</a></span>
            <span *ngIf="aula.link[7].length > 0"> | <a class="link ff-inter" href={{aula.link[7]}}>Parte 8</a></span>
        </span>
         
     </div>
     <div class="imagens">
        <button class="botao-material">
            <div *ngIf="aula.material.length >0 ">
                <a href="{{aula.material}}"><img src="/assets/imagens/pdf.png" alt="icone de pdf"></a>
            </div>
         </button>
         <!-- <button class="botao-editar" routerLink="/classes/editarAula/{{aula.id}}">
             <img src="/assets/imagens/icone-editar.png" alt="icone de editar">
         </button>
         <button class="botao-excluir" routerLink="/classes/excluirAula/{{aula.id}}">
             <img src="/assets/imagens/icone-excluir.png" alt="icone de excluir">
         </button> -->
</div>

<ng-template #semVideo>
    <div class="ff-inter ">
        <p>{{aula.aula}}</p>
  </div>
</ng-template>

<ng-template #semLink>
    <div class="ff-inter ">
        
  </div>
</ng-template>
