<section class="container criar-aula ff-inter">
    <header class="header">
        <h2>Adicione uma <br>nova aula: </h2>
    </header>
    <form action="">
        <label for="materia">Materia:</label>
        <select 
            type="text"
            class="lista"
            id="materia"
            name="materia"
            [(ngModel)]="class.materia"
        >
            <option value=""></option>
            <option value="Apresentação do Curso">Apresentação do Curso</option>
            <option value="Plano de Estudos | Cronograma Eficiente">Plano de Estudos | Cronograma Eficiente</option>
            <option value="Português - Sérgio Rosa">Português - Sérgio Rosa</option>
            <option value="Matemática Básica - Pedro Evaristo">Matemática Básica - Pedro Evaristo</option>
            <option value="Matemática Básica - Virginia Paulino">Matemática Básica - Virginia Paulino</option>
            <option value="Matemática Financeira - Pacífico">Matemática Financeira - Pacífico</option>
            <option value="Conhecimentos Bancários - Sirlo Oliveira">Conhecimentos Bancários - Sirlo Oliveira</option>
            <option value="Aspectos Jurídicos - Rozângela Kemp">Aspectos Jurídicos - Rozângela Kemp</option>
            <option value="Legislação Especial - Victor Vieira">Legislação Especial - Victor Vieira</option>
            <option value="Legislação Aplicada ao BNB - Jander">Legislação Aplicada ao BNB - Jander</option>
            <option value="Edital Verticalizado">Edital Verticalizado</option>
            <option value="Mapa da Aprovação">Mapa da Aprovação</option>
            <option value="Exercícios / Lives">Exercícios / Lives</option>
            <option value="Simulado">Simulado</option>
            

        </select>
        <label for="aula">Nome da aula:</label>
        <input 
            type="text"
            class="input"
            id="aula"
            name="aula"
            placeholder="Digite o nome da aula"
            [(ngModel)]="class.aula"
        >
        
        <label for="parte">Parte 1:</label>
        <input 
            type="text"
            class="input"
            id="parte1"
            name="parte1"
            placeholder="Digite o link da parte 1"
            [(ngModel)]="class.link[0]"
        >
        <label for="parte">Parte 2:</label>
        <input 
            type="text"
            class="input"
            id="parte2"
            name="parte2"
            placeholder="Digite o link da parte 2"
            [(ngModel)]="class.link[1]"
        >
        <label for="parte">Parte 3:</label>
        <input 
            type="text"
            class="input"
            id="parte3"
            name="parte3"
            placeholder="Digite o link da parte 3"
            [(ngModel)]="class.link[2]"
        >
        <label for="parte">Parte 4:</label>
        <input 
            type="text"
            class="input"
            id="parte4"
            name="parte4"
            placeholder="Digite o link da parte 4"
            [(ngModel)]="class.link[3]"
        >
        <label for="parte">Parte 5:</label>
        <input 
            type="text"
            class="input"
            id="parte5"
            name="parte5"
            placeholder="Digite o link da parte 5"
            [(ngModel)]="class.link[4]"
        >
        <label for="parte">Parte 6:</label>
        <input 
            type="text"
            class="input"
            id="parte6"
            name="parte6"
            placeholder="Digite o link da parte 6"
            [(ngModel)]="class.link[5]"
        >
        <label for="parte">Parte 7:</label>
        <input 
            type="text"
            class="input"
            id="parte7"
            name="parte7"
            placeholder="Digite o link da parte 7"
            [(ngModel)]="class.link[6]"
        >
        <label for="parte">Parte 8:</label>
        <input 
            type="text"
            class="input"
            id="parte8"
            name="parte8"
            placeholder="Digite o link da parte 8"
            [(ngModel)]="class.link[7]"
        >
        <label for="material">Material da aula:</label>
        <input 
            type="text"
            class="input"
            id="material"
            name="material"
            placeholder="Digite o material da aula"
            [(ngModel)]="class.material"
        >
        

    <div class="acoes">
        <button (click)="createClass()" class="botao">Salvar</button>
        <button (click)="cancelar()" class="botaocancelar">Cancelar</button>
    </div>
    </form>
</section>